<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663276086612-2q58a3ka1ajeoalu2ev4ignhajc4nkmr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663276086612-2q58a3ka1ajeoalu2ev4ignhajc4nkmr</string>
	<key>API_KEY</key>
	<string>AIzaSyAU-TWdrM-fw0CqUOWitDFN1CNc1rnIDlw</string>
	<key>GCM_SENDER_ID</key>
	<string>663276086612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>calculator.food-order-application</string>
	<key>PROJECT_ID</key>
	<string>food-order-appication</string>
	<key>STORAGE_BUCKET</key>
	<string>food-order-appication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663276086612:ios:7c6c9d5f13e247cc7c54c1</string>
	<key>DATABASE_URL</key>
	<string>https://food-order-appication-default-rtdb.firebaseio.com</string>
</dict>
</plist>