<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77621183195-obb1q1np79h234saemdmb93al37qvf9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77621183195-obb1q1np79h234saemdmb93al37qvf9d</string>
	<key>API_KEY</key>
	<string>AIzaSyDHeFlevBJW__GTPrOPMBYx5Y1yflGcKsg</string>
	<key>GCM_SENDER_ID</key>
	<string>77621183195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>firebasenibm</string>
	<key>PROJECT_ID</key>
	<string>nibm-3dc0e</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-3dc0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77621183195:ios:0bd215972ae04bed3242fe</string>
</dict>
</plist>